@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&family=Kdam+Thmor+Pro&family=Open+Sans:ital,wght@0,400;1,700&family=Poppins:wght@300;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
body, html{
    overflow-x: hidden;
}
/**Navbar**/
.navbar {
  position: absolute; 
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: rgb(255, 255, 255); 
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 60px;
    position: relative;
    color: whitesmoke;
} 
.nav-links a {
    font-size: 130%;
    color: white;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30), rgba(4, 9, 30, 0.7)),
      url(assets/images/Mayatemple.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-cont {
    margin-bottom: 200px;
    color: whitesmoke;
    text-align: center;
  }
.header-cont h2 {
    font-size: 7vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: rgb(9, 230, 35);
    margin: 10px auto;
    border-radius: 7vmin;
}
.header-cont h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ctn{
    padding: 5px 18px;
    background: #1cbf4d;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;   
}
section {
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(16, 177, 16);
  }
.rad{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.rad .kulm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventer .rad{
    margin-top: 50px;
}
h4{
    font-size: 2.5vmin;
    color: rgb(94, 104, 113);
    margin: 20px auto;
  }
p {
    color: rgb(105, 114, 122);
}
.tours{
    width: 100%;
    height: 80vh;
    background-image: url("assets/images/chichenitzatours.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center
}
.tours-available {
    width: 55%;
    padding: 60px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tours-available h1 {
    font-size: 7vmin;
    margin: 60px;
}
.tours-available p{
    color: whitesmoke;
}
.tours-available .ctn{
    margin-top: 40px;
}
.gallery .img-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.img-gallery img{
    max-width: 300px;
    margin: 20px;
}
.content-colm h1{
    font-size: 6vmin;
    color: rgb(182, 194, 17);
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
.container:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(assets/images/mayacontact.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(40px);
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left {
height: 100%;
background: url(assets/images/mayacontact.jpg);
background-size: cover;
}
.right {
    padding: 25px 40px;
  }
h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: whitesmoke;
  }
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
  }
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);  
}
.area{
    min-height: 150px;
}
.btn {
    width: 100%;
    padding: 00.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.3s;
}
.btn:hover {
    background-color: #27ae60;
}
.footer {
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    background-color: darkgreen;
  }
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
  font-size: 4vmin;
  color: rgb(16, 177, 16);
}


/*------Mobile Device------*/
@media only screen and (max-width: 850px) {
    .menu-btn {
      display: block;
    }
    .navbar {
      padding: 0;
    }
    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
    }
    .nav-links {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      /*background: lightblue;*/
      margin-top: -750px;
      transition: all 0.5s ease;
    }
    .mobile-menu {
      margin-top: 0px;
    }
    .nav-links li {
      margin: 40px auto;
    }
    .contact-box {
      grid-template-columns: 1fr;
    }
    .left {
      height: 200px;
    }
  }